<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper 
namespace="com.itwill.unishop.mapper.CartMapper">
	<select id="selectCartAll" 
	parameterType="string"
	resultType="com.itwill.unishop.domain.Cart">
		SELECT A.*, b.product_name, b.product_image_1 FROM CART a, PRODUCT B WHERE A.member_id=#{member_id} AND A.PRODUCT_NO = B.PRODUCT_NO ORDER BY 1
	</select>
	<insert id="insertCart" parameterType="com.itwill.unishop.domain.Cart">
		<selectKey resultType="java.lang.Integer"
			keyProperty="cart_no" order="BEFORE">
			SELECT cart_cart_no_seq.nextval FROM DUAL
		</selectKey>
		insert into cart
		select #{cart_no}, #{cart_qty}, #{cart_qty}*product_price, #{cart_product_size}, #{member_id}, #{product_no}
		from product
		where product_no=#{product_no}
	</insert>
	<select id="inspectDuplicateCart" parameterType="map" resultType="java.lang.Integer">
			select count(*) from cart where member_id=#{member_id} and product_no=#{product_no} and cart_product_size=#{cart_product_size}
	</select>
	<select id="selectCartOne" parameterType="map" resultType="com.itwill.unishop.domain.Cart">
			select * from cart where member_id=#{member_id} and product_no=#{product_no} and cart_product_size=#{cart_product_size}
	</select>
	
	<delete id="deleteCartByCartNo" parameterType="java.lang.Integer">
		delete from cart where cart_no = #{cart_no}
	</delete>
	<delete id="deleteCartByMemberId" parameterType="string">
		delete from cart where member_id = #{member_id}
	</delete>
	<update id="updateCart" parameterType="com.itwill.unishop.domain.Cart">
		update cart set cart_qty=#{cart_qty}, cart_tot_price=#{cart_qty}*(select product_price from cart c join product p on c.product_no=p.product_no where cart_no=#{cart_no})   
		where cart_no = #{cart_no}
	</update>
	
</mapper>