<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper 
namespace="com.itwill.unishop.mapper.DeliveryMapper">
	<select id="selectAll" resultType="com.itwill.unishop.domain.Delivery">
		SELECT * FROM DELIVERY
	</select>
	<select id="selectByNo" 
			parameterType="java.lang.String" 
			resultType="com.itwill.unishop.domain.Delivery">
		SELECT * FROM DELIVERY
		WHERE delivery_no=#{delivery_no}
	</select>
	<insert id="insertDelivery" parameterType="com.itwill.unishop.domain.Delivery">
		insert into delivery (delivery_no, delivery_name, delivery_time, delivery_fee)
		values(#{delivery_no},#{delivery_name},#{delivery_time},#{delivery_fee})
	</insert>
	<delete id="deleteDelivery" parameterType="java.lang.String">
		delete from delivery where delivery_no = #{delivery_no}
	</delete>
	<update id="updateDelivery" parameterType="com.itwill.unishop.domain.Delivery">
		update delivery set delivery_name=#{delivery_name}, delivery_time=#{delivery_time}, delivery_fee=#{delivery_fee} 
		where delivery_no = #{delivery_no}
	</update>
	
</mapper>