<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwill.unishop.mapper.Jumun_DetailMapper">
<resultMap type="com.itwill.unishop.domain.Jumun_Detail" id="jumun_DetailResultMap" autoMapping="true"/>

	<!-- create -->
	<insert id="insertJumunDetail"
			parameterType="com.itwill.unishop.domain.Jumun_Detail">
		<selectKey resultType="java.lang.Integer"
				   keyProperty="jumun_d_no" order="BEFORE">
			select JUMUN_DETAIL_JUMUN_D_NO_SEQ.nextval from dual
		</selectKey>
		insert into Jumun_Detail
		values (#{jumun_d_no}, #{jumun_d_product_name}, #{jumun_d_product_size},
				#{jumun_d_product_price}, #{jumun_d_product_qty}, 
				#{jumun_no}, #{product_no})
		 
	</insert>
	
	
	<!-- read -->
	<select id="selectAll" resultType="com.itwill.unishop.domain.Jumun_Detail"> 
		select * from JUMUN_DETAIL
	</select>
	
	<select id="selectByNo"
			parameterType="java.lang.Integer"
			resultType="com.itwill.unishop.domain.Jumun_Detail">
		select jumun_d_no, jumun_d_product_name, jumun_d_product_size,
			   jumun_d_product_price, jumun_d_product_qty, jumun_no, product_no
		from JUMUN_DETAIL
		where jumun_no=#{jumun_no}
	</select>
	
	
	<!-- update -->
	<update id="updateJumunDetail"
			parameterType="com.itwill.unishop.domain.Jumun_Detail">
		
		update JUMUN_DETAIL 
		set jumun_d_product_name=#{jumun_d_product_name},
		    jumun_d_product_size=#{jumun_d_product_size},
		    jumun_d_product_price=#{jumun_d_product_price},
		    jumun_d_product_qty=#{jumun_d_product_qty}
		where jumun_no=#{jumun_no} AND product_no=#{product_no}
	</update>
	
	
	
	<!-- delete -->
	<delete id="deleteJumunDetail"
			parameterType="java.lang.Integer">
		delete from JUMUN_DETAIL 
		where jumun_d_no=#{jumun_d_no}
	</delete>
	
	
	
	
	
	
	
	
	
</mapper>