<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwill.unishop.mapper.ProductMapper">
<resultMap type="com.itwill.unishop.domain.Product" id="productResultMap" autoMapping="true">
	

</resultMap>
	<!-- SELECT ALL -->
	<select id="selectAll" resultType="com.itwill.unishop.domain.Product">
		select * from product
	</select>
	
	<!-- SELECT RANDOM FOUR -->
	<select id="selectFour" resultType="com.itwill.unishop.domain.Product">
		SELECT * FROM (SELECT * FROM PRODUCT WHERE product_l_div=#{product_l_div} ORDER BY dbms_random.value)
		WHERE ROWNUM <![CDATA[<=]]> 4
	</select>
	
	<!-- SELECT RANDOM EIGHT -->
	<select id="selectEight" resultType="com.itwill.unishop.domain.Product">
		SELECT * FROM (SELECT * FROM PRODUCT ORDER BY dbms_random.value)
		WHERE ROWNUM <![CDATA[<=]]> 8
	</select>
	
	<!-- SELECT RANDOM THIRTY -->
	<select id="selectThirty" resultType="com.itwill.unishop.domain.Product">
		SELECT * FROM (SELECT * FROM PRODUCT ORDER BY dbms_random.value)
		WHERE ROWNUM <![CDATA[<=]]> 30
	</select>
	
	<!-- SELECT BY PRODUCT_NO -->
	<select id="selectByNo" 
			parameterType="java.lang.String"
			resultType="com.itwill.unishop.domain.Product">
			select * from product
			where product_no=#{product_no}
	</select>
		
	<!-- SELECT BY PRODUCT_NAME -->
	<select id="selectByName" 
			parameterType="java.lang.String"
			resultType="com.itwill.unishop.domain.Product">
			select*
			from product 
			where product_name=#{product_name}
	</select>
	
	<!-- SELECT BY L_DIV -->
	<select id="selectByDivL" 
			parameterType="java.lang.String"
			resultType="com.itwill.unishop.domain.Product">
			select p.product_l_div,p.product_m_div,p.product_s_div,p.product_name,p.product_desc,p.product_no,p.product_price,p.product_image_1,p.product_image_2
			from product p
			where product_l_div=#{product_l_div}			
	</select>
	
	<!-- SELECT BY L_DIV & M_DIV -->
	<select id="selectByDivLM" 
			parameterType="map"
			resultType="com.itwill.unishop.domain.Product">
			select p.product_l_div,p.product_m_div,p.product_s_div,p.product_name,p.product_desc,p.product_no,p.product_price,p.product_image_1,p.product_image_2
			from product p
			where product_L_div =#{product_L_div} and product_M_div =#{product_M_div}					
	</select>
	
	<!-- SELECT BY L_DIV & M_DIV & S_DIV -->
	<select id="selectByDivLMS" 
			parameterType="map"
			resultType="com.itwill.unishop.domain.Product">
			select p.product_l_div,p.product_m_div,p.product_s_div,p.product_name,p.product_desc,p.product_no,p.product_price,p.product_image_1,p.product_image_2
			from product p
			where product_L_div =#{product_L_div} and product_M_div =#{product_M_div} and p.product_S_div=#{product_S_div}
	</select>

	
	<!-- INSERT -->
	<insert id="insertProduct"
			parameterType="com.itwill.unishop.domain.Product">
			insert into product  
			values (#{product_no}, #{product_name}, #{product_desc}, #{product_price}, #{product_L_div}, #{product_M_div}, #{product_S_div}, #{product_image_1}, #{product_image_2}, #{product_image_3},#{product_image_4}, #{product_image_5})					
	</insert>

	<!-- DELETE -->
	<delete id="deleteProduct"
			parameterType="java.lang.String">
			delete from product where product_no = #{product_no}
	</delete>



</mapper>