<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwill.unishop.mapper.QuestionMapper">

<select id="selectAll" resultType="com.itwill.unishop.domain.Question">
		SELECT * FROM QUESTION
	</select>
	<select id="selectByNo" 
			parameterType="java.lang.Integer" 
			resultType="com.itwill.unishop.domain.Question">
		SELECT * FROM QUESTION
		WHERE question_no=#{question_no}
	</select>
	<select id="selectById" parameterType="java.lang.String" resultType="com.itwill.unishop.domain.Question">
		select * from question
		where member_id=#{member_id} 
	</select>
	<insert id="insertQuestion" parameterType="com.itwill.unishop.domain.Question">
		<selectKey resultType="java.lang.Integer"
			keyProperty="question_no" order="BEFORE">
			SELECT QUESTION_QUESTION_NO_SEQ.nextval FROM DUAL
		</selectKey>
		insert into question 
		values( #{question_no},#{question_title},
		 		#{question_category},sysdate,
		 		#{question_status}, #{question_content},
		 		#{member_id})
	</insert>
	<delete id="deleteQuestion" parameterType="java.lang.Integer">
		delete from question where question_no = #{question_no}
	</delete>
	<update id="updateQuestion" parameterType="com.itwill.unishop.domain.Question">
		update question set  question_title=#{question_title}, question_category=#{question_category},
		                  question_date=#{question_date}, question_status=#{question_status}, 
		                  question_content=#{question_content}, member_id=#{member_id}
		where question_no = #{question_no}
	</update>
	
</mapper>