<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwill.unishop.mapper.ReviewMapper">
	<insert id="insertReview" parameterType="com.itwill.unishop.domain.Review">
	<selectKey resultType="java.lang.Integer"
			keyProperty="review_no" order="BEFORE">
			SELECT review_review_no_seq.nextval FROM DUAL
			</selectKey>
		INSERT INTO review (review_no, review_name, review_email, review_title,
		                    review_rating, review_content, member_id, product_no)
		     VALUES (#{review_no}, #{review_name}, #{review_email}, #{review_title},
		             #{review_rating}, #{review_content}, #{member_id}, #{product_no})
	</insert>
	<select id="selectReviewByNo" parameterType="String"  resultType="com.itwill.unishop.domain.Review">
			select review_no, review_name, review_email, review_title,
			       review_rating, review_content, member_id, product_no
			  from review
			 where product_no = #{product_no}      
	</select>
	<select id="selectReviewAll" parameterType="String" resultType="com.itwill.unishop.domain.Review">
			select * from review where member_id = #{member_id}
	</select>
</mapper>